{% extends 'material/frontend/base_module.html' %}
{% block title %}ProTReND Community{% endblock %}
{% block sidenav_items %}
    {{ block.super }}
    <li>
        <a class="collapsible-header" href="{% url 'home' %}">
            <i class="material-icons">home</i> Home
        </a>
    </li>
{% endblock %}

{% block topbar_links %}
{% if user.is_authenticated %}
<li><a href="{% url 'logout' %}" data-turbolinks="false"><i class="material-icons right">exit_to_app</i>Log out</a></li>
{% else %}
<li><a href="{% url 'sign-in' %}" data-turbolinks="false"><i class="material-icons right">lock_open</i>Sign In</a></li>
{% endif %}
{% endblock %}