{% extends "website/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center blue-linear-bg min-vh-100">
            <div class="col-4 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-2 h3">
                            ProTReND - Not Found
                        </h1>
                    </div>
                    <div class="text-center text-md-center">
                        <p class="text-muted mb-0">
                            The page you are looking for does not exist.
                        </p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center mt-5">
                        <div class="text-center mx-auto">
                            <a href="{% url 'home' %}" class="btn btn-lg btn-primary">Back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>