{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static '/website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/navbar.css' %}">
    <title>
        {% block title %}
            ProTReND
        {% endblock %}
    </title>
</head>
<body>
{% block navbar %}
{% endblock %}
{% block content %}
{% endblock %}
{% block footer %}
{% endblock %}
<script src="{% static '/website/js/bootstrap.bundle.min.js' %}">
</script>
</body>
</html>