{% extends "website/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block navbar_style %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'website/css/navbar.css' %}">
{% endblock %}
<body>
{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand navbar-brand-color" href="{% url 'home' %}">
                ProTReND
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'organisms' %} active {% endif %} text-uppercase"
                           href="{% url 'organisms' %}">
                            Organisms
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_page == 'regulators' %} active {% endif %} text-uppercase"
                           href="{% url 'regulators' %}">
                            Regulators
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase"
                           href="{% url 'community:index' %}">
                            Community
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase"
                           target="_blank"
                           href="{% url 'api' %}">
                            API
                        </a>
                    </li>
                </ul>
                {% if active_page != 'home' and active_page != 'search' %}
                    <a class="btn btn-outline-success text-uppercase me-4"
                       href="{% url 'search' %}">Search</a>
                {% endif %}
                <form class="d-flex">
                    {% if user.is_authenticated %}
                        <div class="dropdown">
                            <button class="btn btn-outline-secondary text-uppercase dropdown-toggle me-5"
                                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-circle">  {{ user.username }}</i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{% url 'password_reset' %}">Reset Password</a></li>
                                <li><a class="dropdown-item" href="{% url 'sign-in' %}">Switch Account</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            </ul>
                        </div>
                    {% else %}
                        <a class="btn btn-outline-primary text-uppercase me-3"
                           type="submit"
                           href="{% url 'sign-in' %}">
                            Sign In
                        </a>
                        <a class="btn btn-outline-success text-uppercase"
                           type="submit"
                           href="{% url 'sign-up' %}">
                            Sign Up
                        </a>
                    {% endif %}
                </form>
            </div>
        </div>
    </nav>
{% endblock %}
</body>
</html>