{% autoescape off %}
    Dear {{ user.username }},

    You're receiving this email because you have requested a password reset for your user account at the ProTReND database.

    Please go to the following page and choose a new password:

    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

    The username associated with this email address is {{ user.username }}.

    If you did not request a password reset, please ignore this email.

    Sincerely,
    The ProTReND Team
{% endautoescape %}