{% if identifier is None %}
    <span>NA</span>
{% else %}
    {% if source == 'uniprot' %}
        <a role="button"
           class="btn rounded-pill btn-outline-success"
           rel="nofollow" target="_blank"
           href="https://beta.uniprot.org/uniprotkb/{{ identifier }}">
            {{ identifier }}
            <i class="bi bi-box-arrow-up-right ps-2"></i>
        </a>
    {% elif source == 'ncbi-gene' %}
        <a role="button"
           class="btn rounded-pill btn-outline-success"
           rel="nofollow" target="_blank"
           href="https://www.ncbi.nlm.nih.gov/gene/{{ identifier }}">
            {{ identifier }}
            <i class="bi bi-box-arrow-up-right ps-2"></i>
        </a>
    {% elif source == 'protrend' %}
        <a role="button"
           class="btn rounded-pill btn-outline-primary"
           href="{% url redirect identifier %}">
            {{ identifier }}
            <i class="bi bi-arrow-right ps-2"></i>
        </a>
    {% elif source == 'protrend-black' %}
        <a role="button"
           class="btn rounded-pill btn-outline-dark"
           href="{% url redirect identifier %}">
            {{ identifier }}
            <i class="bi bi-arrow-right ps-2"></i>
        </a>
    {% else %}
        <span></span>
    {% endif %}
{% endif %}