{% extends "website/footer.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'website/css/table.css' %}">

    <link rel="stylesheet"
          type="text/css"
          href="{% static 'website/css/canvas.css' %}">

    <link rel="stylesheet"
          type="text/css"
          href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css">
{% endblock %}
{% block content %}
    <div class="container-fluid">
        {% if query %}
            <div class="row blue-linear-bg">
                <div class="col">
                    <div class="container">
                        <div class="row align-items-center py-5">
                            <div class="col align-self-center">
                                <h5 class="text-uppercase text-white text-center">
                                    Find a regulatory interaction
                                </h5>
                                <form class="d-flex py-3 px-5 mx-5" action="{% url 'search' %}" method="post">

                                    {% csrf_token %}

                                    {{ form.search }}
                                    <span class="text-error">{{ form.search.errors }}</span>

                                    {% if form.errors %}
                                        {% for error in form.errors.values %}
                                            <div class="alert alert-danger mt-3" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    <input type="hidden" name="next" value="{{ next }}">
                                    <button class="btn btn-outline-light me-5"
                                            type="submit">
                                        <i class="bi bi-search font-size-xl"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="container">
                        <div class="row align-items-center pt-5">
                            <div class="col align-self-center text-center">
                                <h3 class="text-uppercase blue-color">
                                    search results for "{{ query }}"
                                </h3>
                            </div>
                        </div>
                        <div class="row align-items-center py-5">
                            <div class="col align-self-center">
                                <ul class="nav nav-tabs" id="tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active text-uppercase"
                                                id="organisms-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#organisms"
                                                type="button"
                                                role="tab"
                                                aria-controls="organisms"
                                                aria-selected="true">organisms</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link text-uppercase"
                                                id="regulators-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#regulators"
                                                type="button"
                                                role="tab"
                                                aria-controls="regulators"
                                                aria-selected="false">regulators</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link text-uppercase"
                                                id="genes-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#genes"
                                                type="button"
                                                role="tab"
                                                aria-controls="genes"
                                                aria-selected="false">genes</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link text-uppercase"
                                                id="effectors-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#effectors"
                                                type="button"
                                                role="tab"
                                                aria-controls="effectors"
                                                aria-selected="false">effectors</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link text-uppercase"
                                                id="pathway-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#pathway"
                                                type="button"
                                                role="tab"
                                                aria-controls="pathway"
                                                aria-selected="false">pathway</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link text-uppercase"
                                                id="rfam-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#rfam"
                                                type="button"
                                                role="tab"
                                                aria-controls="rfam"
                                                aria-selected="false">rfam</button>
                                    </li>
                                </ul>
                                <div class="tab-content pt-3" id="results-tab">
                                    <div class="tab-pane fade show active"
                                         id="organisms"
                                         role="tabpanel"
                                         aria-labelledby="organisms-tab">
                                        <table class="table table-hover table-borderless"
                                               data-toggle="table"

                                               data-search="true"
                                               data-regex-search="true"
                                               data-search-accent-neutralise="true"
                                               data-search-highlight="true"
                                               data-search-time-out="1000"

                                               data-sort-reset="true"

                                               data-show-pagination-switch="true"
                                               data-show-toggle="true"
                                               data-show-fullscreen="true"
                                               data-show-columns="true"
                                               data-show-columns-toggle-all="true"
                                               data-show-export="true"

                                               data-buttons-class="primary"

                                               data-id-field="id"

                                               data-pagination="true"
                                               data-page-size="15"
                                               data-page-list="[15, 25, 50, 100, all]">
                                            <thead>
                                            <tr>
                                                <th class="text-uppercase" data-field="protrend_id"
                                                    data-sortable="true">
                                                    PROTREND ID
                                                </th>
                                                <th class="text-uppercase" data-field="name"
                                                    data-sortable="true">
                                                    NAME
                                                </th>
                                                <th class="text-uppercase" data-field="ncbi_taxonomy"
                                                    data-sortable="true">
                                                    NCBI TAXONOMY
                                                </th>
                                                <th class="text-uppercase" data-field="score"
                                                    data-sortable="true">
                                                    score
                                                </th>
                                                <th class="text-uppercase" data-field="detail"
                                                    data-sortable="false">
                                                    DETAILS
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for obj in organism %}
                                                <tr>
                                                    <td class="text-uppercase">
                                                        {{ obj.protrend_id }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.name }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.ncbi_taxonomy }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.score }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        <a role="button"
                                                           class="btn rounded-pill btn-outline-success"
                                                           href="{% url 'organism' obj.protrend_id %}">
                                                            <i class="bi bi-journal-plus pe-2"></i> detail
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="regulators"
                                         role="tabpanel"
                                         aria-labelledby="regulators-tab">
                                        <table class="table table-hover table-borderless"
                                               data-toggle="table"

                                               data-search="true"
                                               data-regex-search="true"
                                               data-search-accent-neutralise="true"
                                               data-search-highlight="true"
                                               data-search-time-out="1000"

                                               data-sort-reset="true"

                                               data-show-pagination-switch="true"
                                               data-show-toggle="true"
                                               data-show-fullscreen="true"
                                               data-show-columns="true"
                                               data-show-columns-toggle-all="true"
                                               data-show-export="true"

                                               data-buttons-class="primary"

                                               data-id-field="id"

                                               data-pagination="true"
                                               data-page-size="15"
                                               data-page-list="[15, 25, 50, 100, all]">
                                            <thead>
                                            <tr>
                                                <th class="text-uppercase" data-field="protrend_id"
                                                    data-sortable="true">
                                                    PROTREND ID
                                                </th>
                                                <th class="text-uppercase" data-field="locus_tag"
                                                    data-sortable="true">
                                                    locus tag
                                                </th>
                                                <th class="text-uppercase" data-field="name"
                                                    data-sortable="true">
                                                    NAME
                                                </th>
                                                <th class="text-uppercase" data-field="score"
                                                    data-sortable="true">
                                                    score
                                                </th>
                                                <th class="text-uppercase" data-field="detail"
                                                    data-sortable="false">
                                                    DETAILS
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for obj in regulator %}
                                                <tr>
                                                    <td class="text-uppercase">
                                                        {{ obj.protrend_id }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.locus_tag }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.name }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.score }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        <a role="button"
                                                           class="btn rounded-pill btn-outline-success"
                                                           href="{% url 'regulator' obj.protrend_id %}">
                                                            <i class="bi bi-journal-plus pe-2"></i> detail
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="genes"
                                         role="tabpanel"
                                         aria-labelledby="genes-tab">
                                        <table class="table table-hover table-borderless"
                                               data-toggle="table"

                                               data-search="true"
                                               data-regex-search="true"
                                               data-search-accent-neutralise="true"
                                               data-search-highlight="true"
                                               data-search-time-out="1000"

                                               data-sort-reset="true"

                                               data-show-pagination-switch="true"
                                               data-show-toggle="true"
                                               data-show-fullscreen="true"
                                               data-show-columns="true"
                                               data-show-columns-toggle-all="true"
                                               data-show-export="true"

                                               data-buttons-class="primary"

                                               data-id-field="id"

                                               data-pagination="true"
                                               data-page-size="15"
                                               data-page-list="[15, 25, 50, 100, all]">
                                            <thead>
                                            <tr>
                                                <th class="text-uppercase" data-field="protrend_id"
                                                    data-sortable="true">
                                                    PROTREND ID
                                                </th>
                                                <th class="text-uppercase" data-field="locus_tag"
                                                    data-sortable="true">
                                                    locus tag
                                                </th>
                                                <th class="text-uppercase" data-field="name"
                                                    data-sortable="true">
                                                    NAME
                                                </th>
                                                <th class="text-uppercase" data-field="score"
                                                    data-sortable="true">
                                                    score
                                                </th>
                                                <th class="text-uppercase" data-field="detail"
                                                    data-sortable="false">
                                                    DETAILS
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for obj in gene %}
                                                <tr>
                                                    <td class="text-uppercase">
                                                        {{ obj.protrend_id }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.locus_tag }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.name }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.score }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        <a role="button"
                                                           class="btn rounded-pill btn-outline-success"
                                                           href="{% url 'gene' obj.protrend_id %}">
                                                            <i class="bi bi-journal-plus pe-2"></i> detail
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="effectors"
                                         role="tabpanel"
                                         aria-labelledby="effectors-tab">
                                        <table class="table table-hover table-borderless"
                                               data-toggle="table"

                                               data-search="true"
                                               data-regex-search="true"
                                               data-search-accent-neutralise="true"
                                               data-search-highlight="true"
                                               data-search-time-out="1000"

                                               data-sort-reset="true"

                                               data-show-pagination-switch="true"
                                               data-show-toggle="true"
                                               data-show-fullscreen="true"
                                               data-show-columns="true"
                                               data-show-columns-toggle-all="true"
                                               data-show-export="true"

                                               data-buttons-class="primary"

                                               data-id-field="id"

                                               data-pagination="true"
                                               data-page-size="15"
                                               data-page-list="[15, 25, 50, 100, all]">
                                            <thead>
                                            <tr>
                                                <th class="text-uppercase" data-field="protrend_id"
                                                    data-sortable="true">
                                                    PROTREND ID
                                                </th>
                                                <th class="text-uppercase" data-field="name"
                                                    data-sortable="true">
                                                    NAME
                                                </th>
                                                <th class="text-uppercase" data-field="score"
                                                    data-sortable="true">
                                                    score
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for obj in effector %}
                                                <tr>
                                                    <td class="text-uppercase">
                                                        {{ obj.protrend_id }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.name }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.score }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="pathway"
                                         role="tabpanel"
                                         aria-labelledby="pathway-tab">
                                        <table class="table table-hover table-borderless"
                                               data-toggle="table"

                                               data-search="true"
                                               data-regex-search="true"
                                               data-search-accent-neutralise="true"
                                               data-search-highlight="true"
                                               data-search-time-out="1000"

                                               data-sort-reset="true"

                                               data-show-pagination-switch="true"
                                               data-show-toggle="true"
                                               data-show-fullscreen="true"
                                               data-show-columns="true"
                                               data-show-columns-toggle-all="true"
                                               data-show-export="true"

                                               data-buttons-class="primary"

                                               data-id-field="id"

                                               data-pagination="true"
                                               data-page-size="15"
                                               data-page-list="[15, 25, 50, 100, all]">
                                            <thead>
                                            <tr>
                                                <th class="text-uppercase" data-field="protrend_id"
                                                    data-sortable="true">
                                                    PROTREND ID
                                                </th>
                                                <th class="text-uppercase" data-field="name"
                                                    data-sortable="true">
                                                    NAME
                                                </th>
                                                <th class="text-uppercase" data-field="score"
                                                    data-sortable="true">
                                                    score
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for obj in pathway %}
                                                <tr>
                                                    <td class="text-uppercase">
                                                        {{ obj.protrend_id }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.name }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.score }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="rfam"
                                         role="tabpanel"
                                         aria-labelledby="rfam-tab">
                                        <table class="table table-hover table-borderless"
                                               data-toggle="table"

                                               data-search="true"
                                               data-regex-search="true"
                                               data-search-accent-neutralise="true"
                                               data-search-highlight="true"
                                               data-search-time-out="1000"

                                               data-sort-reset="true"

                                               data-show-pagination-switch="true"
                                               data-show-toggle="true"
                                               data-show-fullscreen="true"
                                               data-show-columns="true"
                                               data-show-columns-toggle-all="true"
                                               data-show-export="true"

                                               data-buttons-class="primary"

                                               data-id-field="id"

                                               data-pagination="true"
                                               data-page-size="15"
                                               data-page-list="[15, 25, 50, 100, all]">
                                            <thead>
                                            <tr>
                                                <th class="text-uppercase" data-field="protrend_id"
                                                    data-sortable="true">
                                                    PROTREND ID
                                                </th>
                                                <th class="text-uppercase" data-field="name"
                                                    data-sortable="true">
                                                    NAME
                                                </th>
                                                <th class="text-uppercase" data-field="score"
                                                    data-sortable="true">
                                                    score
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for obj in regulatory_family %}
                                                <tr>
                                                    <td class="text-uppercase">
                                                        {{ obj.protrend_id }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.name }}
                                                    </td>
                                                    <td class="text-uppercase">
                                                        {{ obj.score }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row align-items-center min-vh-100 blue-linear-bg">
                <div class="col">
                    <div class="container">
                        <div class="row align-items-center py-5">
                            <div class="col align-self-center">
                                <h5 class="text-uppercase text-white text-center">
                                    Find a regulatory interaction
                                </h5>
                                <form class="d-flex py-3 px-5 mx-5" action="{% url 'search' %}" method="post">

                                    {% csrf_token %}

                                    {{ form.search }}
                                    <span class="text-error">{{ form.search.errors }}</span>

                                    {% if form.errors %}
                                        {% for error in form.errors.values %}
                                            <div class="alert alert-danger mt-3" role="alert">
                                                {{ error }}
                                            </div>
                                        {% endfor %}
                                    {% endif %}

                                    <input type="hidden" name="next" value="{{ next }}">
                                    <button class="btn btn-outline-light me-5"
                                            type="submit">
                                        <i class="bi bi-search font-size-xl"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js">
    </script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js">
    </script>
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js">
    </script>
    <script src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/export/bootstrap-table-export.min.js">
    </script>
{% endblock %}
</html>