{% extends "website/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta http-equiv="refresh" content="5;url={% url 'sign-in' %}" />
{% endblock %}
<body>
{% block content %}
    <div class="container-fluid">
        <div class="row justify-content-center blue-linear-bg min-vh-100">
            <div class="col-4 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-2 h3">
                            ProTReND - Successful activation
                        </h1>
                    </div>
                    <div class="form">
                        <div class="alert alert-success mt-3" role="alert">
                            Your account has been successfully activated.
                        </div>
                        <p>
                            You will be redirected to the sign-in page in a few seconds.
                            Otherwise, click in the link below.
                        </p>
                    </div>
                    <div class="form mt-4">
                        <div class="text-center mx-auto">
                            <a class="btn btn-lg btn-primary" href="{% url 'sign-in' %}">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>